body
    margin: 0px
    -webkit-font-asmoothing: antiliased
    respective: 2000px
header
    position: absolute
    top: 10px
    height: 50px
    background-color: lightgrey
    width: 100%
    div
        nav
            ul
                padding: 0px
                li
                    padding: 0px
                    display: inline-block
                .signIn
                .navButtons
            button
                background-color: inherit
            h1
                color: black